* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: 0;
}

a:active, a, a:link,a:visited{
  text-decoration: none;
  color:black;
}
