* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: 0;
}

/* .loginform{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
} */
