
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Avisos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Horário</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Faltas</a>
    </li>
  </ul>


<div id="container-timeline">

    <div class="card mt-5">
        <h5 class="card-header">Gustavo Wagner - PWEB </h5>
        <div class="card-body">
          <h3 class="card-title">Aula adiada</h3>
          <p class="card-text">Pessoal! estou doente, nao poderei ministrar a aula.</p>
        </div>
        <div class="card-footer text-body-secondary">
            2 dias atrás 
          </div>
      </div>

      <div class="card mt-5">
        <h5 class="card-header">Fausto - POB </h5>
        <div class="card-body">
          <h3 class="card-title">Chegarei atrasado</h3>
          <p class="card-text">Pessoal! estou preso no transito. Me esperem!</p>
        </div>
        <div class="card-footer text-body-secondary">
            4 dias atrás
          </div>
      </div>



  </div>
