<section class="bg-dark-grey">

  <mat-card>
      <mat-card-header>
        <div>
          <h2>Nome da matéria:</h2>
          <h4>{{ subject?.name}}</h4>
        </div>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content>
        <div>
          <h2>Nome do professor responsável:</h2>
          <h4>{{ subject?.teacher }}</h4>
        </div>

        <mat-divider></mat-divider>

        <div>
          <h2>
            Carga horária:
          </h2>
          <h4>
            100 horas
          </h4>
        </div>
      </mat-card-content>
  </mat-card>
</section>
