<button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>
    {{ menuIcon }}
  </mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let action of menuActions" (click)="action.funcAction ? action.funcAction : null">
    <mat-icon [color]="action.iconColor">{{ action.icon }}</mat-icon>

    <a *ngIf="action.routerLinkName" [routerLink]="action.routerLinkName">{{ action.text }}</a>

    <span *ngIf="!action.routerLinkName">
      {{ action.text }}
    </span>
  </button>
</mat-menu>
