<section class="bg-dark-grey">
  <div class="registration-form bg-light-grey">
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column">
          <h1
            class="color-pinkish-white"
          >
            Cadastre-se
          </h1>

          <div class="email-confirm">
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input
                matInput
                name="email"
                formControlName="email"
              />

              <mat-error
                *ngIf="
                  loginForm.get('email')?.dirty &&
                  loginForm.get('email')?.hasError('required')
                "
              >
                Campo obrigatório
              </mat-error>

              <mat-error
                *ngIf="
                  loginForm.get('email')?.dirty &&
                  loginForm.get('email')?.hasError('email')
                "
              >
                E-mail inválido
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Confirmar e-mail</mat-label>
              <input
                matInput
                name="confirmEmail"
                formControlName="confirmEmail"
              />

              <mat-error
                *ngIf="
                  loginForm.get('confirmEmail')?.dirty &&
                  loginForm.get('confirmEmail')?.hasError('required')
                "
              >
                Campo obrigatório
              </mat-error>

              <mat-error
              *ngIf="
                loginForm.get('confirmEmail')?.dirty &&
                loginForm.hasError('sameEmail') &&
                !loginForm.get('confirmEmail')?.hasError('required')
              "
            >
              Os <strong>e-mails</strong> informados não são iguais!
            </mat-error>
            </mat-form-field>
          </div>

          <div class="password-confirm">
            <mat-form-field appearance="fill">
              <mat-label>Senha</mat-label>
              <input
                matInput
                name="password"
                formControlName="password"
              />
              <mat-error
                *ngIf="
                  loginForm.get('password')?.dirty &&
                  loginForm.get('password')?.hasError('required')
                "
              >
                Campo obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Confirmar senha</mat-label>
              <input
                matInput
                name="confirmPassword"
                formControlName="confirmPassword"
              />
              <mat-error
                *ngIf="
                  loginForm.get('confirmPassword')?.dirty &&
                  loginForm.get('confirmPassword')?.hasError('required')
                "
              >
                Campo obrigatório
              </mat-error>

              <mat-error
                *ngIf="
                  loginForm.get('confirmPassword')?.dirty &&
                  !loginForm.get('confirmPassword')?.hasError('required') &&
                  loginForm.hasError('samePassword')
                "
              >
                As <strong>senhas</strong> informadas não são iguais!
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select formControlName="ator">
              <mat-option value="aluno">{{ atores[1] }}</mat-option>
              <mat-option value="professor">{{ atores[0] }}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                loginForm.get('ator')?.dirty &&
                loginForm.get('ator')?.hasError('required')
              "
            >
              Campo obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <button type="submit" mat-raised-button color="primary">Cadastrar </button>
      </form>
    </mat-card-content>
  </div>
</section>
