<section class="bg-dark-grey">
  <div>
    <img
      src="../../../../assets/imgs/imagesecond-removebg-preview.png"
      alt="#"
    />
  </div>

  <div class="login-form bg-light-grey">
    <mat-card-content>
      <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column">
          <div class="color-pinkish-white">
            <!-- <h1 style="display: flex; justify-content: center; text-align:center;align-items: center;" class="color-pinkish-white">Entre em sua conta</h1> -->
            <h1>Entre em sua conta</h1>
            <span>
              novo usuário?
              <a routerLink="/registration" class="color-pinkish-white">
                cadastre-se
              </a>
            </span>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              name="email"
              formControlName="email"
            />
            <mat-error
              *ngIf="
                this.LoginForm.get('email')?.dirty &&
                this.LoginForm.get('email')?.hasError('required')
              "
            >
              Campo Obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input
              matInput
              name="password"
              formControlName="password"
            />
            <mat-error
              *ngIf="
                this.LoginForm.get('password')?.dirty &&
                this.LoginForm.get('password')?.hasError('required')
              "
            >
              Campo Obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button>Entrar</button>
      </form>

      <!-- <div>
          <button mat-raised-button> <a routerLink="/login/signup"> Cadastre-se aqui!</a> </button>
        </div> -->
    </mat-card-content>
  </div>
</section>

