
<mat-card class="cadastro">
    <mat-card-header>
      <mat-card-title class="color-dark-grey">Cadastra-se nas Turmas Disponíveis:</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="TurmaForm" (ngSubmit)="onSubmit()" action="">
        <div class="form">

          <mat-form-field>
            <mat-select
              name="materia"
              placeholder="Selecione a materia"
              formControlName="materia"
            >
              <mat-option *ngFor="let materia of materias" [value]="materia">
                {{ materia.nome }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="TurmaForm.get('materia')?.dirty && TurmaForm.get('materia')?.hasError('required')">
              Campo obrigatório
            </mat-error>
          </mat-form-field>

        </div>

        <button mat-raised-button color="primary">
          Inscrever-se!
        </button>
      </form>
    </mat-card-content>

  </mat-card>

  <section>
    <h1>Minhas Turmas</h1>


    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. pob" #input>
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="Materia">
        <th mat-header-cell *matHeaderCellDef> Materia </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">"{{input.value}}"</td>
      </tr> 
    </table>

    </section>
