<router-outlet></router-outlet>

  <main id="main" class="bg-dark-grey">

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/imgs/imagesecond-removebg-preview.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">

    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="color: white !important;">Sistema de Educação</h1>
      <p class="lead" style="color: white;">Uma Plataforma amigável e bem definida para gerenciar o seus sistema acadêmico da forma mais rápida,segura e eficiente.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a routerLink="login">  <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" style="color: white;">Faça seu Login</button> </a>
       <a routerLink="/"> <button type="button" class="btn btn-outline-secondary btn-lg px-4" style="color: white;">Saiba mais</button> </a>
      </div>
    </div>
  </div>
</div>


<hr class="featurette-divider">


  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="src\assets\imgs\eficiente.svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect><image href="src\assets\imgs\eficiente.png" x="0" y="0" width="100%" height="100%" /></svg>
        <h2 class="fw-normal" style="color: white;">Eficiente</h2>
        <p style="color: white;">Acesse de onde e quando quiser seu sistema acadêmico e suas informacões desejadas como : Notas, Turmas e Avisos de professores.</p>
        <p><a class="btn btn-secondary" href="#">Detalhes »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect><image href="src\assets\imgs\png-clipart-the-flash-logo-lightning-drawing-yellow-lightning-angle-triangle.png" x="0" y="0" width="100%" height="100%" /></svg>
        <h2 class="fw-normal" style="color: white;">Rápido</h2>
        <p style="color: white;">Sistema super rápido, tendo uma perfomance inagualável!</p>
        <p><a class="btn btn-secondary" href="#">Detalhes »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect><image href="src\assets\imgs\seguro.jpeg" x="0" y="0" width="100%" height="100%" /></svg>
        <h2 class="fw-normal" style="color: white;">Seguro</h2>
        <p style="color: white;">Tenha a segurança de acesso a sua conta pessoal e suas informações e nenhum risco de perder.</p>
        <p><a class="btn btn-secondary" href="#">Detalhes »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" style="color: white;">Cadastro de Notas<span class="text-body-secondary" style="color: white;">It’ll blow your mind.</span></h2>
        <p class="lead" style="color: white;">Como professor, você consegue cadastrar as notas de seus alunos de qualquer lugar e a qualquer hora</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title style="color: white;">Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em" style="color: white;">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1" style="color: white;">Avisos em Tempo Real<span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead" style="color: white;">No nosso sistema, é possível receber avisos do seu professor em tempo real para que fique atento a urgencias.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title style="color: white;">Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em" style="color: white;">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" style="color: white;">Cadastro de Turmas<span class="text-body-secondary" style="color: white;">Checkmate.</span></h2>
        <p class="lead" style="color: white;">Como aluno, é possível se cadastrar em turmas disponíveis.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title style="color: white;">Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em" style="color: white;">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
</main>
