section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 25rem;
    height: 30rem;
    padding: 3rem;
    border-radius: 6px;
  }
  
  .account {
    margin-bottom: 2.5rem;
  }
  
  h1 {
    margin-bottom: .1rem;
  }
  
  span {
    font-weight: 300;
    margin-bottom: 12rem;
  }
  
  a {
    font-weight: 500;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  mat-form-field {
    margin-bottom: 1.5rem;
  }
  
  button {
    color: var(--color-pinkish-white) !important;
    background-color: var(--bg-dark-grey) !important;
    width: 100%;
  }